<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Labiodental</h3>
		<span>The sound is made with the upper teeth touching the lower lips</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item">
			<li class="positive"><b>f</b>at</li>
			<li class="negative"><b>p</b>at</li>
			<li class="negative"><b>s</b>at</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>v</b>eal</li>
			<li class="negative"><b>b</b>ill</li>
			<li class="negative"><b>z</b>eal</li>
		</ul>
	</div>
</div>