<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Labial</h3>
		<span>The sound is made using the lips</span><br/>
		The lips can either be touching each other, touching teeth, or formed into a round shape
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item negative">
			<li><b>l</b>eft</li>
			<li><b>r</b>ight</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>th</b>at</li>
			<li><b>sh</b>ip</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>h</b>at</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>p</b>ick</li>
			<li class="negative"><b>t</b>ick</li>
			<li class="negative"><b>k</b>ick</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>b</b>eer</li>
			<li class="negative"><b>d</b>eer</li>
			<li class="negative"><b>g</b>ear</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">ra<b>m</b></li>
			<li class="negative">ra<b>n</b></li>
			<li class="negative">ra<b>ng</b></li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>f</b>at</li>
			<li class="negative"><b>s</b>at</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>v</b>eal</li>
			<li class="negative"><b>z</b>eal</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>w</b>ield</li>
			<li class="negative"><b>y</b>ield</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">p<b>ee</b>l</li>
			<li class="negative">p<b>oo</b>l</li>
		</ul>
	</div>
</div>