<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Nasal</h3>
		<span>Air escapes through the nose when making the sound</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item">
			<li class="positive"><b>m</b>ill</li>
			<li class="negative"><b>b</b>ill</li>
			<li class="negative"><b>p</b>ill</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>n</b>ote</li>
			<li class="negative"><b>d</b>ote</li>
			<li class="negative"><b>t</b>ote</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">pi<b>ng</b></li>
			<li class="negative">pi<b>ck</b></li>
			<li class="negative">pi<b>g</b></li>
		</ul>
	</div>
</div>