<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Sonorant</h3>
		<span>The sound is continuous, non-turbulent and resonant</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item positive">
			<li><b>All Vowels</b></li>
		</ul>
		<ul class="flex-item positive">
			<li><b>l</b>eft</li>
			<li><b>r</b>ight</li>
		</ul>
		<ul class="flex-item positive">
			<li><b>w</b>ow</li>
			<li><b>y</b>es</li>
		</ul>
		<ul class="flex-item positive">
			<li><b>n</b>ap</li>
			<li><b>m</b>ap</li>
			<li>ki<b>ng</b></li>
		</ul>
		<ul class="flex-item negative">
			<li><b>p</b>ick</li>
			<li><b>t</b>ick</li>
			<li><b>k</b>ick</li>
			<li><b>ch</b>ick</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>b</b>eer</li>
			<li><b>d</b>eer</li>
			<li><b>g</b>ear</li>
			<li><b>j</b>eer</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>s</b>ap</li>
			<li><b>z</b>ap</li>
			<li><b>f</b>at</li>
			<li><b>v</b>at</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>h</b>at</li>
		</ul>
	</div>
</div>