<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Spread Glottis</h3>
		<span>A strong burst of air is released when making the sound</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item">
			<li class="positive"><b>p</b>ill</li>
			<li class="negative"><b>b</b>ill</li>
			<li class="negative">s<b>p</b>ill</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>t</b>eal</li>
			<li class="negative"><b>d</b>eal</li>
			<li class="negative">s<b>t</b>eal</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>k</b>ale</li>
			<li class="negative"><b>g</b>ale</li>
			<li class="negative">s<b>c</b>ale</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>ch</b>eap</li>
			<li class="negative"><b>j</b>eep</li>
		</ul>
		<ul class="flex-item positive">
			<li><b>h</b>at</li>
		</ul>
	</div>
</div>