<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Tense</h3>
		<span>The tongue is positioned close to the roof of the mouth</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item">
			<li class="positive">b<b>ea</b>t</li>
			<li class="negative">b<b>i</b>t</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">f<b>ee</b>l</li>
			<li class="negative">f<b>i</b>ll</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">f<b>ee</b>t</li>
			<li class="negative">f<b>i</b>t</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">p<b>oo</b>l</li>
			<li class="negative">p<b>u</b>ll</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">f<b>oo</b>l</li>
			<li class="negative">f<b>u</b>ll</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">s<b>ui</b>t</li>
			<li class="negative">s<b>oo</b>t</li>
		</ul>
		<ul class="flex-item positive">
			<li><b>y</b>ear</li>
			<li><b>w</b>ear</li>
		</ul>
	</div>
</div>