container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_createsu:
    command: "django-admin createsu"
  03_collectstatic:
    command: "django-admin collectstatic"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "transcriber.settings"
    PYTHONPATH: "/opt/python/current/app/transcriber:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "transcriber/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    option_name: /static/
    value: static/