container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "transcriber.settings"
    PYTHONPATH: "/opt/python/current/app/transcriber:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "transcriber/transcriber/wsgi.py"