{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tone Transcription Experiment</title>
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row row-margin text-center">
			<div class="col-xs-12">
				<h3>Tone Transcription Experiment</h3>
				<br/>
			</div>
		</div>
		<div class="row text-center">
		</div>
		<div class="row">

			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 justify">
				<p><b>Description:</b></p>

				<p>This is an online perceptual study to observe Cantonese tone recognition accuracy in both speakers and non-speakers of Cantonese. The experiment is estimated to take no longer than half an hour.</p>

				<p><b>Requirements:</b></p>

				<ol>
				<li>You are above 21 years of age if you are a Singaporean, or above 18 years of age otherwise</li>
				<li>You are using a browser other than Internet Explorer</li>
				</ol>
				<br/>
				<div class="row text-center">
					<div class="col-xs-12">
						<a href="/tone/" class="btn btn-primary">I am a new participant</a>
					</div>
				</div>
				<br/>
				<div class="row text-center">
					<div class="col-xs-12">
						<a href="/tone/resume" class="btn btn-primary">Resume an incomplete session</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>