{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tone Transcription Experiment</title>
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row row-margin text-center">
			<div class="col-xs-12">
				<h3>Tone Transcription Experiment - Consent Form</h3>
				<br/>
			</div>
		</div>
		<div class="row text-center">
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 consent-form justify">
				<br/>
				<ol>
					<li>
						<b>PROJECT TITLE</b>
						<p>Multilingual Speech Recognition</p>
					</li>

					<li>
						<b>PURPOSE OF RESEARCH STUDY</b>
						<p>The goal of this research is to train automatic speech recognition software in many languages. Speech recognition works best if provided with training data: audio clips, each of which has been transcribed by some listeners.</p>
					</li>

					<li>
						<b>PARTICIPATION ELIGIBILITY & DURATION</b>
						<p>We ask that you participate in this study only if you are a native speaker of the language in which the task instructions are written, and only if you are at least 18 years old for non-Singaporeans and 21 years old for Singaporeans.  You will be allowed to continue participating as often as you wish, for whatever period of time you wish: there is no minimum or maximum period of participation.</p>
					</li>

					<li>
						<b>NUMBER OF PARTICIPANTS</b>
						<p>We expect that as many as 1000 people may take part in this research.</p>
					</li>

					<li>
						<b>PROCEDURE</b>
						<p>You will work from home, using your own computer.  You will be asked to access a web page, containing the audio data you are to transcribe.  You will be permitted to play each audio sample as often as you like, then they will be asked to provide one of two different types of transcription: (1) For some types of audio clips, you will simply be asked to type what they hear, using any keyboard that is convenient to you. (2) For other types of audio clips, you will be given a series of menus.  Each menu will be time-aligned to a segment of the audio clip, using a visual display of the waveform.  Each menu will list features that the audio might have, for example, consonant versus vowel, or high tone versus low tone.  You will be asked to choose, from each menu, the feature that best matches its time-aligned section of the audio clip.</p>
					</li>

					<li>
						<b>CONFIDENTIALITY</b>
						<p>Your personal information, which includes your name and email address, are requested to automatically send this Participation Information Sheet to you so that you receive an electronic copy of this document. Your personal information will be encrypted before it gets transmitted to our online server to protect your privacy. As this process is handled automatically, your identity will remain anonymous.</p>

						<p>You will be reimbursed at a flat rate of SGD10 upon completion of the task. You may opt in or opt out of receiving the reimbursement. If you opt to receive the reimbursement, you must consent to releasing your contact information to appointed staff in order to disseminate payment instructions.</p>

						<p>You will be asked for demographic information such as what languages you speak, and at what age you began speaking each. This information, along with your test data from completing the task, <b>will be kept separate and delinked from your personal information.</b> This ensures that your research data cannot be uniquely associated with you. Instead, a unique “subject ID number” is tagged to your demographic information and test data.</p>

						<p>Your demographic and test data will be published as part of a database of speech transcriptions to assist research and development. Your personal information will not be released with the database.</p>

						<p>If you are one of the pilot subject’s for testing out the usability of the response collection web system, you might receive an automatic email sent from the web server to ask you if you are interested in helping the researchers improve the web interface design by corresponding with the researchers through email, phone or in person. You are not required to respond to such a request. If you are willing to respond, you can choose to respond using a pseudonym and/or secondary email to remain anonymous.</p>
					</li>

					<li>
						<b>RISKS/DISCOMFORTS</b>
						<p>Participation in this research has no risks other than the ordinary risks of using a personal computer.</p>
					</li>

					<li>
						<b>COMPENSATION FOR INJURIES</b>
						<p>No injuries and no adverse reactions are anticipated from these studies.</p>
					</li>

					<li>
						<b>REIMBURSEMENT</b>
						<p>Participants who score above 20% will be reimbursed at a flat rate of SGD10 upon completion of the task. You may opt out of receiving the reimbursement.</p>
					</li>

					<li>
					<b>BENEFITS</b>
					<p>There is no direct benefit to you by participating in this research. The knowledge gained will benefit the public in the future in areas such as second language learning, spoken language processing, healthcare services to assist the elderly.</p>
					</li>

					<li>
					<b>WITHDRAWAL OF PARTICIPATION</b>
					<p>Your decision to participate in this research is voluntary and completely up to you. You can also withdraw from the research at any time without giving any reasons. Since your identity will remain anonymous to the researchers and only tasks that are completed are saved, your decision of withdrawal will also remain anonymous to the researchers.</p>
					</li>

					<li>
					<b>CONTACT INFORMATION</b>
					<p>Please contact the Principal Investigator, Nancy Chen (nfychen@i2r.a-star.edu.sg), for all research-related matters.</p>

					<p>For an independent opinion regarding the research and the rights of research participants, you may contact a staff member of the National University of Singapore Institutional Review Board (Attn: Mr Chan Tuck Wai, at telephone (+65) 6516 1234 or email at irb@nus.edu.sg).</p>
					</li>
				</ol>
			</div>
			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 justify">
				<br/>
				<p>By clicking on the "I Accept" button, you acknowledge that: 

				<ol>
				<li>You have agreed to take part in the above research.</li>
				<li>You have received a pamphlet (or a copy of this information sheet) that explains the use of your data in this research. You have read and understood the contents of this form and agree to donate your data for the use of this research.</li>
				<li>You understand that you can withdraw from the research at any point of time.</li>
				<li>You may be reimbursed SGD10 for your participation, but will not have any additional financial benefits that result from the commercial development of this research.</li>
				<li>You consent to have your transcriptions made available publicly for future research. Your personal information (name and email) will not be released with the transcriptions and demographic information.</li>
				</ol>
				<p>You will not have waived any legal rights you otherwise would have as a participant in a research study.</p>
				<div class="row text-center">
					<div class="col-xs-12">
						<a href="/tone/survey" class="btn btn-primary">I Accept</a>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>