{% load staticfiles %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tone Transcription Experiment</title>
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row row-margin text-center">
			<div class="col-xs-12">
			<h1>Result Summary</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1
						col-xs-12">

				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#language-group" aria-controls="language-group" role="tab" data-toggle="tab">Group</a></li>
					<li role="presentation"><a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Individual</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="language-group">
						<table class="table">
							<thead>
								<tr>
								<th>Language Group</th>
								<th>Subjects</th>
								<th>Average Score</th>
								<th>Q1+Q2 Score</th>
								<th>Tone 1</th>
								<th>Tone 2</th>
								<th>Tone 3</th>
								<th>Tone 4</th>
								<th>Tone 5</th>
								<th>Tone 6</th>
								<th>Average Time</th>
								</tr>
							</thead>
						{% for lg in language_groups %}
							<tr>
								<td>{{ lg.name }}</td>
								<td>{{ lg.subjects }}</td>
								<td>{{ lg.score }}%</td>
								<td>{{ lg.q1q2_score }}%</td>
								<td>{{ lg.score_by_tone.0}}%</td>
								<td>{{ lg.score_by_tone.1 }}%</td>
								<td>{{ lg.score_by_tone.2 }}%</td>
								<td>{{ lg.score_by_tone.3 }}%</td>
								<td>{{ lg.score_by_tone.4 }}%</td>
								<td>{{ lg.score_by_tone.5 }}%</td>
								<td>{{ lg.time }}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="individual">
						<table class="table">
							<thead>
								<tr>
								<th>Dominant Language</th>
								<th>Other Languages</th>
								<th>Target Language</th>
								<th>Age</th>
								<th>Gender</th>
								<th>Score</th>
								<th>Time</th>
								</tr>
							</thead>
						{% for o in subjects %}
							<tr>
								<td>{{ o.subject.dominant_language }}</td>
								<td>{{ o.subject.other_languages }}</td>
								<td>{{ o.subject.target_language }}</td>
								<td>{{ o.subject.age }}</td>
								<td>{{ o.subject.gender }}</td>
								<td>{{ o.score }}%</td>
								<td>{{ o.time }}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</html>