<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Coronal</h3>
		<span>The sound is made using the tip of the tongue</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item positive">
			<li><b>l</b>eft</li>
			<li><b>r</b>ight</li>
		</ul>
		<ul class="flex-item positive">
			<li><b>th</b>at</li>
			<li><b>sh</b>ip</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>t</b>ick</li>
			<li class="negative"><b>p</b>ick</li>
			<li class="negative"><b>k</b>ick</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>d</b>eer</li>
			<li class="negative"><b>b</b>eer</li>
			<li class="negative"><b>g</b>ear</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">ra<b>n</b></li>
			<li class="negative">ra<b>m</b></li>
			<li class="negative">ra<b>ng</b></li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>s</b>at</li>
			<li class="negative"><b>f</b>at</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>z</b>eal</li>
			<li class="negative"><b>v</b>eal</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>h</b>at</li>
		</ul>
	</div>
</div>