<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Periodic Glottal Source</h3>
		<span>The vocal cords vibrate to make the sound</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item positive">
			<li><b>All English Vowels</b></li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>b</b>ill</li>
			<li class="negative"><b>p</b>ill</li>
			<li class="negative">s<b>p</b>ill</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>d</b>eal</li>
			<li class="negative"><b>t</b>eal</li>
			<li class="negative">s<b>t</b>eal</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>g</b>ale</li>
			<li class="negative"><b>k</b>ale</li>
			<li class="negative">s<b>c</b>ale</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>j</b>eep</li>
			<li class="negative"><b>ch</b>eap</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>v</b>at</li>
			<li class="negative"><b>f</b>at</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>z</b>ap</li>
			<li class="negative"><b>s</b>ap</li>
		</ul>
		<ul class="flex-item negative">
			<li><b>h</b>at</li>
		</ul>
	</div>
</div>