<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Strident</h3>
		<span>The sound is turbulent and noisy</span>
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<ul class="flex-item">
			<li class="positive"><b>s</b>at</li>
			<li class="negative"><b>f</b>at</li>
		</ul>
		<ul class="flex-item">
			<li class="positive"><b>z</b>eal</li>
			<li class="negative"><b>v</b>eal</li>
		</ul>
		<ul class="flex-item">
			<li class="positive">ma<b>sh</b></li>
			<li class="negative">ma<b>th</b></li>
		</ul>
	</div>
</div>