<div class="row row-margin">
	<div class="col-xs-12 text-center">
		<h3>Syllabic</h3>
		<span>The sound functions as the central portion of the syllable</span><br/>
		Listen for syllables that don't contain a vowel portion
	</div>
</div>

<div class="row row-margin text-center">
	<div class="col-xs-12 flex-container">
		<div class="flex-item positive">
			+ <b>All Vowels</b>
		</div>
		<div class="flex-item positive">
			Some of <br/>
			+ <b>m</b>an <br/>
			+ ki<b>ng</b>
		</div>
		<div class="flex-item negative">
			- <b>All Other Consonants</b>
		</div>
	</div>
</div>